.category_name {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 20px;
  margin-bottom: 20px;
}
.categories {
  margin-left: 1rem;
}
.thema {
  position: relative;
  font-size: 1rem;
  border: 1px solid var(--primary-color);
  width: 97%;
  margin-bottom: 0.5rem;
}
.thema a {
  display: block;
  color: var(--text-color);
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.thema a:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap:.2rem;
  font-size: 4rem;
}
.load{
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  
}